.login-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #484848;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-form {
  background: #4e4e4e;
  border-radius: 16px;
  padding: 2rem 2.5rem;
  min-width: 500px;   /* Aumenta el ancho mínimo */
  max-width: 550px;   /* Opcional: limita el ancho máximo */
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0.7rem;
  color: #fff;
}

.login-form input {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;      /* Aumenta el ancho del input */
  background: #3a3a3a;
  color: #fff;
  transition: background 0.2s, border-color 0.2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-form label {
  font-size: 1.1rem;
  color: #fff;
  display: block;
  text-align: center;
}

.login-form input:hover,
.login-form input:focus {
  background: #222;
  border-color: #888;
}

.login-form button {
  font-size: 1.1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 6px;
  border: none;
  background: #40e050;
  color: white;
  cursor: pointer;
  margin-top: 0.5rem;
  width: auto;
  align-self: center;
}

.login-form button:hover {
  background: #2c9b37;
}

.login-form p,
.login-form a {
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.login-form a {
  color: #40e050;
  text-decoration: underline;
}

.login-form a:hover {
  color: #2c9b37;
}
